@model BenFatto.App.DTO.LogRow
@{
    Layout = null;
}
@await Html.PartialAsync("_Info", Model)
<div id="Action" class="row">
    <div class="col text-right">
        <hr />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
    </div>
</div>

