@model BenFatto.App.DTO.File
@{
    Layout = null;
}
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="LogFile" class="control-label"></label>
        </div>
        <div class="col">
            <input asp-for="LogFile" type="file" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-primary action-btn" data-dismiss="modal">
                <i class="fa fa-fw fa-times"></i> Cancel
            </button>
            <button type="submit" class="btn btn-info action-btn">
                <i class="fa fa-fw fa-floppy-o"></i> Save
            </button>
        </div>
    </div>
</form>
