@model BenFatto.App.DTO.User
@{
    Layout = null;
}
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Name" class="control-label"></label>
        </div>
        <div class="col">
            <input asp-for="Id" type="hidden" />
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Email" class="control-label"></label>
        </div>
        <div class="col">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Password" class="control-label"></label>
        </div>
        <div class="col">
            <input asp-for="Password" type="password" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="NewPassword" class="control-label"></label>
        </div>
        <div class="col">
            <div class="input-group">
                <input asp-for="NewPassword" type="password" class="form-control" />
                <input name="Confirm-Password" type="password" class="form-control" data-behavior="confirm" data-target="Password" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-primary action-btn" data-dismiss="modal">
                <i class="fa fa-fw fa-times"></i> Cancel
            </button>
            <button type="submit" class="btn btn-info action-btn">
                <i class="fa fa-fw fa-floppy-o"></i> Save
            </button>
        </div>
    </div>
</form>
