@{ 
    Layout = null;
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="post" asp-action="Signout">
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-action btn-primary">Logout</button>
                </div>
            </div>
        </form>
    </div>
</div>
